.example-container {
    width: 100%;
    height: 700px;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    position: relative;
  }
  
  .example-sidenav-content > button{
    background-color: darkgrey;
  }

  .example-sidenav {
    padding: 20px;
  }
  
  .sortingboard{
    width: 90%;
    margin: auto;
  }